.pageHeader, .sectionHeader {
    text-align: center;
    margin-top: 5%;
}

form {
    padding-bottom: 5%;
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 2%;
}

#masonry {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
