@font-face {
  src: url(../fonts/CheddarGothicRough-Regular.otf);
  font-family: cheddar;

  src: url(../fonts/CheddarGothicRough-Italic.otf);
  font-family: cheddar-italic;

  src: url(../fonts/QuisasStandard-Regular.otf);
  font-family: quis;
}

body{
    background-color: #679058;
    /*font-family: Tahoma, Verdana, Segoe, sans-serif;*/
    font-family: 'Roboto Slab';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: darkgrey;
  }
  legend{
      font-size: 40px;
      text-align: center;
  }
  fieldset{
      background-color: #E6EDCE;
      margin: auto;
      /*border: 3px solid green;*/
      padding: 10px;
      font-size: 20px;
      
  }
  span{
      color:red;
  }
  .name-input{
    border-radius: 5px;
    outline:none;
    border:none;
    margin-bottom: 3%;
  }
  .general-input{
    border-radius: 5px;
    width:100%;
    outline:none;
    border:none;
    margin-bottom: 3%;
  }
  /*
  input{
    border-radius: 5px;
    width:100%;
    outline:none;
  }*/
  /*floating the divs*/
  .container {
    padding: 20px;
  }

.container-child {
    width: 50%;
    float: left;
    /*padding: 20px;*/
    
}  
.but{
    width:100%;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  /*leaderboard*/
  table {
    border-collapse: collapse;
    width: 60%;
    margin:auto;
  }
  
  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    color:bisque;
    
  }
  .titles{
    background-color:rgb(1, 15, 2);
  }
  