@font-face {
    src: url(../fonts/CheddarGothicRough-Regular.otf);
    font-family: cheddar;
}
.pageHeader, .sectionHeader {
    text-align: center;
    font-family: cheddar;
    margin-top: 5%;
}
.sectionHeader {
    margin-bottom: 2%;
}
.instructions {
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.bottom {
    background: #386033;
}
.section {
    padding-left: 5%;
    padding-right: 5%;
    height: 25pt;
    max-height: 55pt;
}
.last {
    margin-bottom: 10%;
}
.badge {
    padding: 10pt;
}

