<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elemini</title>
    <link rel="stylesheet" href="Elemini.css">
</head>
<body>
    <div class="backgroundImage"> 
        <div class="title">
            <h3 id="topTitle">UVSASE presents</h3>
            <h1 class="eleminiTitle">ELEMINI</h1>
            <h3 id="bottomTitle">Unearth your potential</h3>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="centerLine">
        <div class="descriptionSection">
            <h1 id="title">What is Element?</h1>
            <p>
                The Element Conference is UVSASE’S premier 
                leadership conference aimed to provide 
                professional and personal development for 
                aspiring young leaders of the Vietnamese-American 
                community.  Our programs, spanning across three days 
                and two nights, are designed to provide participants 
                with the knowledge to excel in their leadership 
                roles and careers.  Through an immersive learning 
                environment, this conference will provide the hands-on 
                experience for attendees to learn the skills needed to 
                be successful in all their endeavors.
            </p>
            <br><br>
            <h1 id="title">Theme?</h1>
            <p>
                Do you feel like you are stuck in the dirt? 
                Many of us were put under amount of stress 
                during the last year where different areas 
                of our lives were impacted. Whether it was 
                adjusting to changed pace of school and/or 
                work, you may have struggled through it. 
                You may not know what kind of potential you 
                hold that can be developed. You know you have 
                a lot of potential to grow but don’t have the 
                right tools? Everyone is unique in their own 
                way and there no concrete path to be successful 
                leader. Imagine that everyone is seed that has 
                the potential to develop and grow. Not everyone 
                grows exactly the same whether as a potato or 
                tomato BUT eventually finds their own niche in 
                the garden. That means everyone may utilize 
                different tools to get where they want to be 
                as a leader or in a career.
            </p>
        </div>
        <br><br><br><br><br><br>

        <div class="row">
            <div class="halfColumn dateInfo">
                <h1 id="title">June 26 - 27</h1>
                <p>
                    ALL VIRTUAL<br>
                    <ul>
                        <li>description</li>
                        <li>description</li>
                        <li>description</li>
                    </ul>
                </p> 
            </div>
            <div class="halfColumn">
                <button type="button" class="registerButton">Register Now!</button>
            </div>
        </div>

        <br><br><br><br><br><br>
        <div class="row">
            <h1 id="title">Workshops and Speakers</h1>
            <div class="fourthColumn tab">
                <img src="orange.jpg" width=250px height= 300px>
                <h3>Speaker Name</h3>
                <h4>Workshop Title</h4>
            </div>
            <div class="fourthColumn">
                <img src="apple.jpg" width=250px height= 300px>
                <h3>Speaker Name</h3>
                <h4>Workshop Title</h4>
            </div>
            <div class="fourthColumn">
                <img src="cherry.jpg" width=250px height= 300px>
                <h3>Speaker Name</h3>
                <h4>Workshop Title</h4>
            </div>
            <div class="fourthColumn">
                <img src="peach.jpg" width=250px height= 300px>
                <h3>Speaker Name</h3>
                <h4>Workshop Title</h4>
            </div>
        </div>
    </div>
</body>
</html>