<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elemini</title>
    <link rel="stylesheet" href="../css/Elemini.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class="backgroundImage"> 
        <div class="title">
            <h3 id="topTitle">UVSASE presents</h3>
            <h1 class="eleminiTitle">ELEMINI</h1>
            <h3 id="bottomTitle">Unearth your potential</h3>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="centerLine">
        <div class="descriptionSection">
            <h1 id="title">What is Element?</h1>
            <p>
                The Element Conference is UVSASE’S premier 
                leadership conference aimed to provide 
                professional and personal development for 
                aspiring young leaders of the Vietnamese-American 
                community.  Our programs, spanning across three days 
                and two nights, are designed to provide participants 
                with the knowledge to excel in their leadership 
                roles and careers.  Through an immersive learning 
                environment, this conference will provide the hands-on 
                experience for attendees to learn the skills needed to 
                be successful in all their endeavors.
            </p>
            <br><br>
            <h1 id="title">What is the theme?</h1>
            <p>
                Do you feel like you are stuck in the dirt? 
                Many of us were put under amount of stress 
                during the last year where different areas 
                of our lives were impacted. Whether it was 
                adjusting to changed pace of school and/or 
                work, you may have struggled through it. 
                You may not know what kind of potential you 
                hold that can be developed. You know you have 
                a lot of potential to grow but don’t have the 
                right tools? Everyone is unique in their own 
                way and there no concrete path to be successful 
                leader. Imagine that everyone is seed that has 
                the potential to develop and grow. Not everyone 
                grows exactly the same whether as a potato or 
                tomato BUT eventually finds their own niche in 
                the garden. That means everyone may utilize 
                different tools to get where they want to be 
                as a leader or in a career.
            </p>
            <a href="workshops.php"><button type="button" class="registerButton">Register Here</button></a>
        </div>
        <br><br><br><br><br><br>


        <!--WORKSHOP PRESENTERS-->

        <!--PROFESSIONAL-->  
        <h1 id="title">Saturday, June 26th 2:00-3:00pm EST</h1><hr><br><br>
        <ul class="flex-container">
            <li class="flex-item">
                <h1 class="name">Ducal Hoang</h1>
                <p class="description">Penguyen & I: Business From Scratch</p>
                <img src="../images/workshopImgs/ducalHoang.jpeg">
                <p class="description">
                    This workshop will provide attendees a back story of how Penguyen began, 
                    the hiccups along the way, and the future of Penguyen. The workshop will 
                    provide the answers to any questions attendees may have on how to start 
                    their business. The focus of the workshop is to shed light on what goes 
                    on when operating a small business, through the experience of someone who 
                    did not have any prior knowledge. Additionally, I would like to talk about 
                    the importance of financial literacy.
                </p>
                
            </li>
            <li class="flex-item">
                <h1 class="name">Oliver Truong</h1>
                <p class="description">How to Live Life at Half Price</p>
                <img src="../images/workshopImgs/oliverTruong.jpeg">
                <p class="description">
                    If you want to learn how to stop paying full price for items then this 
                    workshop is for you! In this workshop I will explain how to get groceries 
                    on the low and sometimes even free! I will explain how to get discounted 
                    flights and even teach you about "hidden" clearance at Walmart. If you love 
                    a good deal then join the workshop so we can all save money together.
                </p>
                
            </li>
            <li class="flex-item">
                <h1 class="name">Kelly Tran</h1>
                <p class="description">Bridge - Understanding The Histories of our Lands</p>
                <img src="../images/workshopImgs/kellyTran.png">
                <p class="description">
                    As we continue to step forward into the future with more advancements in infrastructure,
                    politics, technology, and even our society as a whole, it is important to acknowledge our 
                    histories and pay respect to the people that have generously shared their land with us. 
                    There are many Indigenous peoples that span across not only North America but also in Vietnam. 
                    This workshop is to generate more awareness of the indigenous groups that are currently residing
                     in Vietnam from the Vietnam Census, and learn about their stories, histories, as well as 
                     the problems they are facing today and brainstorming solutions for that.
                </p>
                
            </li>
        </ul><br><br><br><br>
        <h1>Sunday, June 27th 12:00-1:00pm EST</h1>
        <hr><br><br>
        <ul class="flex-container">
            <li class="flex-item" style = "width: 270px;">
                <h1 class="name">Kent Tong</h1>
                <p class="description">Black Lives Matter: Identifying and Addressing Anti-Black Racism</p>
                <img src="../images/workshopImgs/kentTong.jpeg">
                <p class="description">
                    This past year, the country faced a long-overdue racial reckoning that resulted in a worldwide 
                    protest in support of Black lives and against police brutality. For many, understanding the 
                    country's history of racial violence, especially against Black people, may be new. This 
                    workshop will identify the many ways racism is perpetuated against Black people, and address 
                    topics such as White Privilege, Reverse Racism, African American Vernacular English/Black 
                    Vernacular English, Digital Blackface, anti-Blackness in the Asian American community, 
                    examples of solidarity between the two communities, and how Asian Americans can be allies to 
                    the Black community. Please note: this workshop is intended to serve as an introduction to the 
                    topics of anti-Black racism, specifically individuals who are new/not as knowledgeable about 
                    the topic. If you already have a strong understanding of institutional and systemic racism, 
                    this may not be a beneficial workshop for you. However, you are still more than welcome to join!
                </p>
                
            </li>
            <li class="flex-item" style = "width: 260px;">
                <h1 class="name">Diana Chu</h1>
                <p class="description">How to Cultivate a Healthy & Productive Space for Our Minds</p>
                <img src="../images/workshopImgs/dianaChu.png">
                <p class="description">
                    Mental health is important in all areas of our life. It's important that we have a 
                    healthy psychological space to call our own, where we can retreat when things get 
                    overwhelming and re-energize to take on that project or difficult conversations. 
                    Join us for an interactive workshop exploring techniques for cultivating a positive 
                    mental space for stress reduction and productivity. Tools will include practical steps 
                    to set up for optimal mental health in your workplace or home.
                </p>
                
            </li>
            <li class="flex-item" style = "width: 270px;">
                <h1 class="name">Albert Pham</h1>
                <p class="description">Vietnamese Wedding</p><br>
                <img src="../images/workshopImgs/albertPham.jpeg">
                <p class="description">
                    In this session, participants will learn about the extensive Vietnamese wedding process 
                    while also experiencing a simulated version of it themselves!
                </p>
                
            </li>
            <li class="flex-item" style = "width: 270px;">
                <h1 class="name">Natalie Trinh</h1>
                <p class="description">A Hidden Enemy: Microaggressions</p><br>
                <img src="../images/workshopImgs/nathalieTrinh.jpeg">
                <p class="description">
                    Many of us who identify as a visible minority would have faced some form of racism 
                    at least once in our lives. Those who identify as a woman may experience sexism as well. 
                    While some of these unfortunate experiences are blatant, we do not typically take the time 
                    to stop and think about its subtler form, microaggressions. These intentional or 
                    unintentional negative slights play a big part in the hidden daily struggle that 
                    minorities and women face. This workshop hopes to bring attention to understanding 
                    how instances of microaggressions happen in day-to-day life and how we can work to 
                    reduce or avoid the use of microaggressions.
                </p>
                
            </li>
            
        </ul><br><br><br><br>

        <h1>Sunday, June 27th 1:00-2:00pm EST</h1>
        <hr><br><br>
        <ul class="flex-container">
            <li class="flex-item">
                <h1 class="name">Steven Tran</h1>
                <p class="description">Professionalism: Something We Asians Got (SWAG)</p>
                <img src="../images/workshopImgs/stevenTran.jpeg">
                <p class="description">
                    Got ghosted by a recruiter? No response from that LinkedIn application? 
                    Maybe it’s .. you. Explore resume building, digital networking, professional 
                    organizations, and other tips to improve your swag (and score that follow-up 
                    email). Remember, swag isn’t a hobby, it’s our occupation.
                </p>
                
            </li>
            <li class="flex-item">
                <h1 class="name">Nhilynn Nguyen</h1>
                <p class="description">Professionalism: Something We Asians Got (SWAG)</p>
                <img src="../images/workshopImgs/nhilynnNguyen.jpeg">
                <p class="description">
                    Got ghosted by a recruiter? No response from that LinkedIn application? 
                    Maybe it’s .. you. Explore resume building, digital networking, professional 
                    organizations, and other tips to improve your swag (and score that follow-up 
                    email). Remember, swag isn’t a hobby, it’s our occupation.
                </p>
                
            </li>
            <li class="flex-item">
                <h1 class="name">Phong Le</h1>
                <p class="description">Improv Comedy - Take Life Less Seriously</p>
                <img src="../images/workshopImgs/phongLe.jpeg">
                <p class="description">
                    Life's a joke, so you might as well be a clown. Come learn the very basics of improv 
                    comedy and how to apply these lessons to your personal situations. Sometimes your 
                    plans don't stick to a script, but that doesn't mean your story is ruined. Quite 
                    often, your journey is more like a rollercoaster. It's up to you whether you're 
                    laughing on the ride or puking into your own mouth because roller coasters move 
                    forward at intense speeds and even if you puke, it'll just literally fly back down 
                    your throat. Come with an open mind & have some fun.
                </p>
                
            </li>
            
        </ul><br>
        <ul class="flex-container">
            <li class="flex-item">
                <h1 class="name">Teresa Tran</h1>
                <p class="description">Dismantling AAPI Girlboss: Is Hustle Culture Healthy For Us?</p>
                <img src="../images/workshopImgs/teresaTran.jpeg">
                <p class="description">
                    Ever heard of the AAPI Girlboss? The Asian American young woman who pulls all nighters for 
                    work or assignments, misses meals because she is simply glued to her desk and can't get away, 
                    has an itemized color-coded calendar full of meetings, events, and extracurriculars, and looks 
                    like she has it all together as she moves up the social and economic ladder. Looking at her, 
                    it seems the harder you work, the more successful you are. But the reality is far harsher: 
                    she's not life goals. She's unhealthy, a workaholic, and probably has crumbling mental health 
                    as she fights to prove she's good enough in a predominantly white male society. This workshop 
                    aims to dismantle the trope of the AAPI girlboss by unpacking the effects of the model minority 
                    and meritocracy myth on young AAPI women. Come for roasting the racist capitalist patriarchy and 
                    sharing tips and tricks on taking care of our bodies and mind!
                </p>
                
            </li>
            <li class="flex-item">
                <h1 class="name">Liam Kim</h1>
                <p class="description">How to Get a Job: Starter Pack</p>
                <img src="../images/workshopImgs/liamKim.jpeg">
                <p class="description">
                    In this workshop, we will discuss the components necessary for marketing yourself 
                    with the goal of obtaining internships, jobs, leadership positions, and other 
                    opportunities. We will cover the basics of writing resumes, Curriculum Vitaes (CV), 
                    cover letters, and interview tips so that you can put your best foot forward!
                </p>
                
            </li>
            <li class="flex-item">
                <h1 class="name">Jessica Kweon</h1>
                <p class="description">How to Get a Job: Starter Pack</p>
                <img src="../images/workshopImgs/jessicaKweon.jpeg">
                <p class="description">
                    In this workshop, we will discuss the components necessary for marketing yourself 
                    with the goal of obtaining internships, jobs, leadership positions, and other 
                    opportunities. We will cover the basics of writing resumes, Curriculum Vitaes (CV), 
                    cover letters, and interview tips so that you can put your best foot forward!
                </p>
            </li>
            
          </ul>
    </div>
</body>
</html>
