<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/workshops.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- TEST NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    <h1 class="pageHeader">Elemini 2021 Workshops</h1>

    <!-- Insturctions Section -->
    <div class="card instructions">
        <div class="card-header">
          Instructions
        </div>
        <div class="card-body">
            <ul>
                <li>You will see below that there are 4 different options for each workshop time slot. <br>Please select <b>one workshop</b> for each timeslot</li>
                <li>The workshop timeslots are as follows:<br>&nbsp;&nbsp;&nbsp;&nbsp;Section #1: Saturday, Nov. 21st @ 10:40AM - 11:55AM ET<br>&nbsp;&nbsp;&nbsp;&nbsp;Section #2: Saturday, Nov. 21st @ 10:40AM - 11:55AM ET<br>&nbsp;&nbsp;&nbsp;&nbsp;Section #3: Saturday, Nov. 21st @ 10:40AM - 11:55AM ET</li>
                <li><b>Please choose your workshop carefully, as you will not be able to change your workshop on this portal if you regret your choice.</b></li>
            </ul>          
        </div>
    </div>

    <!-- First Section -->
    <h3 class="sectionHeader">Workshops in Section #1</h3>
    <div class="card-deck section">
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
            </div>
          </div>
      </div>
      <!-- End First Section -->

      <!-- Second Section -->
      <h3 class="sectionHeader">Workshops in Section #2</h3>
      <div class="card-deck section">
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
            </div>
          </div>
      </div>
      <!-- End Second Section -->

      <!-- Third Section -->
      <h3 class="sectionHeader">Workshops in Section #3</h3>
      <div class="card-deck section last">
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../images/card.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><button type="button" class="btn btn-outline-success">Register</button></small>
            </div>
          </div>
      </div>
      <!-- End Third Section -->
</body>
</html>